name: Deploy

on:
    push:
        branches:
            main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with: 
            node-version: latest
            cache: npm

        - name: Build
          run: |
            npm ci
            npm run build

        - run: chmod u+x ./scripts/*

        - name: Setup Square Cloud CLI
          run: curl -fsSL https://cli.squarecloud.app/install | bash

        - name: Login to Square Cloud
          run: squarecloud auth login --token=${{ secrets.SQUARE_TOKEN }}

        - name: Clean application container
          run: |
            curl --request DELETE \
              --url https://api.squarecloud.app/v2/apps/${{ secrets.SQUARE_APP_ID }}/files \
              --header 'Authorization: ${{ secrets.SQUARE_TOKEN }}' \
              --header 'Content-Type: application/json' \
              --data '
            {
              "path": "."
            }
            '
        
        - name: Upload latest files
          run: |
            cd dist
            squarecloud app commit -r ${{ secrets.SQUARE_APP_ID }}
  